@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 40% 95%; /* #ECF1F8 */
    --foreground: 217 33% 17%;
    --card: 0 0% 100%;
    --card-foreground: 217 33% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 217 33% 17%;
    --primary: 217 64% 39%; /* #2455A3 */
    --primary-foreground: 210 40% 98%;
    --secondary: 190 70% 50%; /* #26BBDB */
    --secondary-foreground: 210 40% 98%;
    --muted: 214 32% 91%;
    --muted-foreground: 215 16% 47%;
    --accent: 190 70% 50%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 32% 85%;
    --input: 214 32% 85%;
    --ring: 217 64% 39%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline tracking-tight;
  }
}